@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import './_global.scss';
@import './components/Profile/profile.scss';
@import './components/Logo/logo.scss';
@import './components/Introduction/introduction.scss';
@import './components/Buttons/button.scss';
@import './components/Projects/Projects.scss';
@import './components/Admin/admin.scss';
@import './components/Editproject/Editproject.scss';

html {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}
body {
  background: gray;
}

.Appcontainer,
.formcontainer,
.Editcontainer {
  position: absolute;
  width: 100%;
  background: $assentColor;
  top: 35px;
  left: 0px;
  height: 200px;
}

.Appcontainer {
  animation: change 20s 10s infinite; /*delay in 10s*/
}

@keyframes change {
  0% {
    background-image: linear-gradient(180deg, transparent 0%, rgb(107, 172, 232));
  }
  25% {
    background-image: linear-gradient(180deg, transparent 30%, rgb(107, 172, 232));
  }
  50% {
    background-image: linear-gradient(180deg, transparent 60%, rgb(107, 172, 232));
  }
  100% {
    background-image: linear-gradient(180deg, transparent 100%, rgb(107, 172, 232));
  }
}
