@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('./components/Profile/profile.scss');
@import url('./components/Logo/logo.scss');

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body {
  background: gray;
}

.Appcontainer {
  position: absolute;
  width: 100%;
  background: black;
  top: 60px;
  left: 0px;
  height: 200px;
}
