@import '../../_global';

.introduction_framework {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;

  @media screen and (max-width: 300px) {
    width: 100%;
    padding: 0px;
  }
}

.intro_title {
  color: black;
  height: 40px;
  font-size: 2.2rem;
  text-align: center;
  border-bottom: 1px solid gray;
}

.intro_body {
  font-size: 1.5rem;
  white-space: pre-wrap;
  color: black;
  @media screen and (max-width: 430px) {
    padding: 0px;
    font-size: 1.3rem;
    word-wrap: break;
  }
}
