.profile {
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 150px auto 10px;
  width: 80%;
  justify-content: space-between;

  @media screen and (max-width: 1400px) {
    width: 90%;
  }
}

.profile_image {
  border: 5px solid white;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 20%);
  margin-top: -40px;
  @media screen and (max-width: 1200px) {
    margin-top: 0px;
  }
}

h1 {
  font-size: 3.5rem;

  @media screen and (max-width: 800px) {
    font-size: 2.8rem;
  }
}

a {
  text-decoration: none;
  color: black;
}
