@import '../../_global';

.logo {
  display: flex;
  margin: -35px auto auto 30px;
  width: 100px;
  @media screen and (max-width: 480px) {
    margin: -35px 0px 0px 0px;
  }
}

.logoFrame {
  border: 5px double $assentColor;
}
