@import '../../_global';

.logo {
  display: flex;
  margin: 10px auto auto 30px;
  width: 130px;
  @media screen and (max-width: 480px) {
    margin: 10px 0px 0px 10px;
  }
}

.logoFrame {
  border: 5px double $assentColor;
}
