@import '../../_global';

.project_btn {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 50px;
  height: 170px;
  top: 0px;
  background: rgb(3, 30, 61);
  font-size: 3rem;
  text-align: center;
  position: fixed;
  padding: 15px 5px;
  right: 0px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  animation: expand 7s 1 10s;
  white-space: nowrap;

  &:hover {
    transform: scale(1.1);
    padding-top: 20px;
    border: 1px solid white;
    cursor: pointer;
    .outer_circle,
    .inner_circle {
      visibility: hidden;
    }
  }

  @media screen and (max-width: 480px) {
    height: 150px;
    font-size: 2.5rem;
  }
}

.outer_circle {
  width: 25px;
  height: 2px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid gray;
  animation: rotation 5s infinite;
  position: relative;
}

.inner_circle {
  width: 20px;
  height: 2px;
  margin: auto;
  border-radius: 50%;
  background: rgb(52, 144, 187);
  animation: rotation 3s infinite;
}

.loading_outer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: rotation 2s infinite;
  background: gray;
  margin: 10px auto;
  position: relative;
}

.loading_inner {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: rotation 4s infinite;
  background: white;
  position: absolute;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 170px;
  }
}
